$bg:#f2f2f2;
$green:#10bc98;
$green-hover:#13d7ae;
$light-green:#87bc58;
$light-green-hover:#c0da82;
$orange:#e77e22;
$orange-hover:#f6b417;
$blue:#3cbce1;
$blue-hover:#56d7ed;
$purple:#9a59b5;
$purple-hover:#c472e6;
$yellow:#fac75a;
$yellow-hover:#fce17a;
$grey:#4c4c4c;
$grey-hover:#747373;
$red:#e84c3d;
$red-hover:#f57b8a;
$dark-blue:#34495e;
$dark-blue-hover:#425c77;
$ash-grey:#bec3c7;
$ash-grey-hover:#d0d5d9;
