input[type=text] {
  text-align: center;
  font-size: 2em;
  font-family: 'Galindo', cursive;
  padding: 5px 10px;
  max-width: 14em;
  border-radius:5px;
  border: 0px solid;
  outline: none;
  background-color: rgba(255,255,255,0.8);
}

input[type=text].small {
  max-width: 7em;
}
